inputs
numpy
matplotlib
pynetworktables
opencv-python
numba
tqdm
networkx
evdev

# Hardware
#adafruit-circuitpython-servokit
#rplidar-roboticia~=0.9.5
#board~=1.0
#smbus~=1.1
pyserial

# Centerline Calculation
#scikit-image

# Check the installer.sh script