# General

numpy
matplotlib
pynetworktables  # comms
opencv-python
numba  # Code optimization
tqdm  # nifty progress bar stuff
networkx  # Graph Theory
evdev  # Controller
ikpy
faiss-cpu

# Hardware
rplidar-roboticia  # Lidar
pyserial  # Serial communication. Used for Rosmaster

# other
noise
plotly
torch
tensorrt
filterpy  # for sort tracking
lap  # linear assignment for sort

# Centerline Calculation
# scikit-image

# Check the installer.sh script