# General

numpy  # the best creation since sliced bread
matplotlib
pynetworktables  # comms
opencv-python  # yeah.
numba  # Code optimization
evdev  # Controller
ikpy  # inverse kinematics
faiss-cpu  # icp, specifically nearest neighbor search

# Hardware
rplidar-roboticia  # Lidar
pyserial  # Serial communication. Used for Rosmaster

# other
noise  # perlin noise for synthetic map generation
torch  # very good tensors
tensorrt  # running trt models very fast on jetson and nvidia gpus
filterpy  # for sort tracking
lap  # linear assignment for sort